@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
/* global styles */
*{
    scroll-behavior: smooth;
    color:rgb(230, 237, 243) ;
    text-decoration: none;
    outline: none;
    font-family:'Poppins', sans-serif;
    transition: all 0.3s ease;
}
html {
    color-scheme: light dark;
}
/* variables */
:root{
    --main-color:rgba(0, 0, 0, 0.5);
    --pf-size: 18px;
    --h1-font:42px;
    --h2cp-font:27px;
    --link-v:rgb(235,88,179);
    --link-h:rgb(244,158,215);
    --b-color:rgb(63, 61, 63);
    --bg-color:rgb(22, 19, 21);
    --ac-put-color: rgb(235,88,179);
}
body{
    background-image:url(../images/red_abbey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
}
main{
    background-color: var(--main-color);
    padding: 70px;
}
h1,h2,caption{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    font-size: var(--h1-font);
    padding-top: 60px;
}
p,li{
    font-size: var(--pf-size);
    max-width: 800px;
    font-weight: 200;
}
h2, caption{
    font-size: var(--h2cp-font);
}
li{
    margin-bottom: 5px;
}
figure{
    margin-left: 0;
    margin-block:30px;
}
a:link,a:visited{
    color: var(--link-v);
}
a:hover,a:active{
    color: var(--link-h);
}
.socials{
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
    max-width: 1200px;
    font-size: 16px;
}
.socials li:hover{
    transform: translateY(-5px) scale(1.2);
}

/* reservation styles */

table th,td{
    text-align: left;
    padding:10px 0 0 30px;
    border: none;
}

input{
    margin-left: 10px;
}
.inputfield,textarea{
    background-color: var(--bg-color);
    padding: 6px 10px;
    border: 1px solid var(--b-color);
    caret-color: var(--ac-put-color);
}
input[type="radio"]{
    accent-color: var(--ac-put-color);
    margin:5px;
}
fieldset{
    max-width: 450px;
}
fieldset .rooms{
    margin: 10px;
}
textarea{
    width: 260px;
}
::placeholder{
    font-size:16px;
    font-weight: 200;
}
.inputfield:hover,textarea:hover{
    border-color: var(--ac-put-color);
}
input[type="date"]{
    padding: 5px;
}
button{
    padding:10px;
    border: none;
    background-color: rgb(64, 15, 45);
    font-size: 16px;
    font-weight: 200;
}
button:hover{
    background-color: rgb(142, 57, 108);
}




